body {
  background-color: #FFFFFF;
}

.users {
  text-align: center;
}

.hello {
  /*color: #FFFFFF;*/
  text-align: center;
}

.selectUser {
  text-align: center;
}

.calendar {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.DayPicker-Day--past {
  background-color: #f7f8f8;
}

.DayPicker-Day--approved {
  background-color: #aaffaa;
}

.DayPicker-Day--rejected {
  background-color: #ffaaaa;
}

.info {
  text-align: center;
}

.info button {
  background-color: #dddddd;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
