body {
  background-color: #FFFFFF;
}

.users {
  text-align: center;
}

.hello {
  /*color: #FFFFFF;*/
  text-align: center;
}

.selectUser {
  text-align: center;
  margin-left: 35px;
}

.DayPicker-Day--past {
  background-color: #f7f8f8;
}

.DayPicker-Day--approved {
  background-color: #aaffaa;
}

.DayPicker-Day--rejected {
  background-color: #ffaaaa;
}

.info {
  text-align: center;
}
